<div class="container">
    <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
      <% event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre de Evento" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Contacto" %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label "Telefono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "Tipo de evento" %>
    <%= form.text_field :event_type %>
  </div>

  <div class="field">
    <%= form.label "Dia de evento" %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label "Hora" %>
    <%= form.datetime_select :start_time, :ampm => true, :minute_step => 30, :default => { :hour => 8, :minute => 00 }, :discard_year => true, :discard_month => true, :discar_day => true  %>
  </div>

  <div class="field">
    <%= form.label "Hora que termina" %>
    <%= form.datetime_select :end_time, :ampm => true, :minute_step => 30, :default => { :hour => 10, :minute => 00 }, :discard_year => true, :discard_month => true, :discar_day => true  %>
  </div>

  <div class="field">
    <%= form.label "Lugar" %>
    <%= form.select :location, options_for_select(["Salon Azteca", "Salon Ejecutivo", "Salon Reynas", "Restaurante", "Privado"], "Salon Azteca") %>
  </div>

  <div class="field">
    <%= form.label "Personas" %>
    <%= form.number_field :pax %>
  </div>


  <div class="field">
    <%= form.label "Atendida por" %>
    <%= form.select :atendido, options_for_select(['Lorena', 'Marcela'], 'Marcela') %>
  </div>

  <div class="field">
    <%= form.label "Descripcion" %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
</div>
