<div class="container">
  <%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

    <ul>
      <% payment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :event_id, value: @event %>
  </div>

  <div class="field">
    <%= form.label "Dia"%>
    <%= form.date_select :dia %>
  </div>

  <div class="field">
    <%= form.label "Importe (Sin commas)"%>
    <%= form.text_field :amount %>
  </div>


  <div class="field">
    <%= form.label :folio %>
    <%= form.text_field :folio %>
  </div>

  <div class="field">
    <%= form.label "Forma de Pago" %>
    <%= form.select :forma, options_for_select(["Efectivo", "Cheque", "Transferencia", "Tarjeta de Credito", "Otro"], "Efectivo") %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
</div>
