<div class="container">
  <h1>Prospectos</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Tipo</th>
        <th>Dia Evento</th>
        <th>Lugar</th>
        <th>Personas</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.name %></td>
        <td><%= prospect.phone %></td>
        <td><%= prospect.event_type %></td>
        <td><%= prospect.prospect_date %></td>
        <td><%= prospect.location %></td>
        <td><%= prospect.pax %></td>
        <% if prospect.status == "Seguimiento" %>
        <td><span class="badge badge-warning">Seguimiento</span></td>
        <% elsif prospect.status == "Confirmado" %>
        <td><span class="badge badge-success">Confirmado</span></td>
        <% else %>
        <td><span class="badge badge-danger">Declino</span></td>
        <% end %>
        <td><%= link_to 'Show', prospect %></td>
        <td><%= link_to 'Edit', edit_prospect_path(prospect) %></td>
        <td><%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Prospecto', new_prospect_path, class: 'btn btn-primary' %>

  <br>

  <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-text" %></li>

</div>
